.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 25px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    transition: .5s;
}

.arrow:hover {
    background-color: #fddcc4;
    cursor: pointer;
}