.pets_inner_grid {
    display: grid;
}

.pets {
    background-color: $background_dark;
    padding-top: $padding_top;
    padding-bottom: 100px;

    .heading {
        @include heading(404px, 58px)
    }

    .pets_slider_content {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        column-gap: 40px;
        row-gap: 28px;
        padding-bottom: 57px;

        .cart {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fafafa;
            border-radius: 9px;
            transition: .5s;

            .pet_img {
                padding-bottom: 26px;
            }

            .pet_name {
                font-family: "Georgia";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                letter-spacing: 0.06em;
                color: #545454;
                padding-bottom: 28px;
            }

            .button_secondary {
                margin-bottom: 30px;
                pointer-events: none;
            }
        }
    
        .cart:hover {
            background: #ffffff;
            cursor: pointer;

            .button_secondary {
                cursor: pointer;
                background-color: #FDDCC4;
            }
        }

    }

    @media (max-width: 1279px) {  
        .pets_slider_content {
            .last_cart {
                display: none;
            }
        }
    }

    .pagination {
        display: grid;
        grid-template-columns: repeat( 5, 52px );
        column-gap: 20px;
        justify-content: center;

        .button_start, .button_left, .button_active, .buttom_right, .buttom_end {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 13px 11px;
            width: 52px;
            height: 52px;
            box-sizing: border-box;
            border-radius: 100px;
            transition: 0.5s;

            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 115%;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        }

        .buttom_right:hover, .buttom_end:hover {
            background: #F1CDB3;
            cursor: pointer;
        }

        .button_start, .button_left {
            border: 2px solid #CDCDCD;
            color: #CDCDCD;
        }

        .button_active {
            background: #F1CDB3;
        }

        .buttom_right, .buttom_end {
            border: 2px solid #F1CDB3;
        }
    }

}