@font-face {
    font-family: georgia-regular;
    src: url(assets/fonts/georgia/georgia-regular.ttf);
}

@font-face {
    font-family: arial-regular;
    src: url(assets/fonts/arial/arial-regular.ttf);
}