.about {
    background-color: $background_white;
    padding-top: $padding_top;
    padding-bottom: 96px; 

    .about_inner_grid {
        display: grid;
        grid-template-columns: 39.6% 1fr;
        column-gap: 121px;
        
        .about_image {
            justify-self: end;
        }

        @media (max-width: 1279px) {
            .about_image {
                justify-self: center;
                grid-row: 2;
            }
        }

        .about_content {
            justify-self: start;
            align-self: start;
            max-width: 430px;
            padding-top: 15px;

            .about_heading {
                max-width: 370px;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #545454;
            }

            @media (max-width: 767px) {
                text-align: center;
                font-size: 25px;
            }

            .about_description {
                max-width: 430px;
                font-family: "Arial";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                color: #4C4C4C;
                padding-top: 24px;
            }
            @media (max-width: 767px) {
                .about_description {
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
        @media (max-width: 1279px) {
            .about_content {
                justify-self: center;
                grid-row: 1;
                padding-top: 0;
                gap: 80px;
                max-width: 436px;
                padding-left: 4px;

                .about_description {
                    max-width: 437px;
                }
            }
        }
    }

    @media (max-width: 1279px) {
        .about_inner_grid {
            grid-auto-flow: dense;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            gap: 81px;
        }
    }
}