.about {
    background-color: $background_white;
    padding-top: $padding_top;
    padding-bottom: 96px; 
    .about_inner_grid {
        display: grid;
        grid-template-columns: 35vw 1fr;
        column-gap: 119px;
        
        .about_image {
            justify-self: end;
        }

        .about_content {
            justify-self: start;
            align-self: start;
            width: 430px;
            padding-top: 15px;

            .about_heading {
                width: 370px;
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #545454;
            }

            .about_description {
                width: 430px;
                font-family: "Arial";
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                color: #4C4C4C;
                padding-top: 24px;
            }
        }
    }
}