.donation {
    background-color: $background_dark;
    padding-top: $padding_top;
    padding-bottom: 99px; 

    .donation_inner_grid {
        display: grid;
        grid-template-columns: 54.5% 1fr;
        column-gap: 24px;
        
        .donation_image {
            justify-self: end;
            align-self: start;
            padding-top: 12px;
            padding-right: 6px;
        }

        @media (max-width: 1279px) {
            .donation_image {
                justify-self: center;
                align-self: center;
                grid-row: 2;
            }
        }

        .donation_content {
            justify-self: start;
            align-self: center;
            width: 430px;

            .donation_heading {
                width: 290px;
                font-family: "Georgia";
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #545454;
                padding-bottom: 21px;
            }

            .donation_bank {
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 110%;
                display: flex;
                align-items: center;
                letter-spacing: 0.06em;
                color: #545454;
                padding-bottom: 20px;
            }

            .bank_accuont {
                display: flex;
                align-items: center;
                gap: 15px;
                width: 349px;
                padding: 10px 14px 10px 15px;
                background: #F1CDB3;
                border-radius: 9px;

                .account_number {
                    font-family: "Georgia";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 115%;
                    letter-spacing: 0.06em;
                    color: #545454;
                }

            }

            .donation_description {
                font-family: 'Arial';
                font-style: italic;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;        
                display: flex;
                align-items: center;
                color: #B2B2B2;
                padding-top: 20px;
                width: 360px;
            }
        }
        @media (max-width: 1279px) {
            .donation_content {
                justify-self: center;
                grid-row: 1;
                gap: 80px;
            }
        }
    }
    @media (max-width: 1279px) {
        .donation_inner_grid {
            grid-auto-flow: dense;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            gap: 60px;
        }
    }
}