.footer {
    background: $background_gradient;
    padding-top: 30px;

    .footer_inner_grid {
        display: grid;
        grid-template-columns: 280px 301px 1fr;
        grid-template-rows: 325px;
        column-gap: 160px;
        
        .footer_contacts {
            align-self: start;
            padding-top: 28px;

            .footer_heading {
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #FFFFFF;
                padding-bottom: 37px;
            }
            .contacts_wrap {
                display: flex;
                align-items: center;
                gap: 15px;
                padding-bottom: 36px;
    
                .contacts_desc {
                    margin-left: 6px;
    
                    .contacts {
                        font-family: 'Georgia';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 115%;
                        letter-spacing: 0.06em;
                        color: #F1CDB3;
                    }
                }
            }
        }
        @media (max-width: 1279px) {
            .footer_contacts {
                padding-top: 0;
            }
        }

        .footer_adress {
            align-self: start;
            padding-top: 28px;

            .footer_heading {
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 130%;
                letter-spacing: 0.06em;
                color: #FFFFFF;
                padding-bottom: 31px;
            }
            .contacts_wrap {
                display: flex;
                align-items: center;
                gap: 14px;
                padding-bottom: 32px;
    
                .contacts_desc {
                    margin-left: 5px;
    
                    .contacts {
                        font-family: 'Georgia';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 115%;
                        letter-spacing: 0.06em;
                        color: #F1CDB3;
                    }
                }
            }
        }

        @media (max-width: 1279px) {
            .footer_adress {
                padding-top: 0;
            }
        }

        .footer_image {
            align-self: end;
        }
        @media (max-width: 1279px) {
            .footer_image {
                grid-column-start: 1;
                grid-column-end: 3;
                justify-self: center;

            }
        }
        @media (max-width: 767px) {
            .footer_image {
                grid-column-start: 1;
                grid-column-end: 2;
                justify-self: center;
            }
        }
    }
    @media (max-width: 1279px) {
        .footer_inner_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 299px;
            justify-content: center;
            margin: 0 34px;
            column-gap: 35px;
            row-gap: 0px;
        }
    }
    @media (max-width: 767px) {
        .footer_inner_grid {
            grid-template-columns: 1fr;
        }
    }
}
