.header {
    padding-top: 30px;
    height: 877px;
    background: $background_gradient;
}

.header_inner {
    position: relative;
    z-index: 1;
    height: 60px;

    .grid_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .logo_title {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 110%;
            letter-spacing: 0.06em;
            width: 186px;
            color: #F1CDB3;
        }

        .logo_description {
            width: 186px;
            height: 15px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #ffffff;
            padding-top: 10px;
        }

        .navigation {
            justify-self: end;
            align-self: end;
            margin-bottom: 8px;
        }
        
        .navigation_grid {
            display: grid;
            grid-template-columns: repeat(4, auto);
            grid-template-rows: 27px;
            align-items: center;
            column-gap: 35px;
            
            .menu_item {
                list-style-type: none;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 160%;
                border-bottom: 3px solid transparent;
                transition: 0.5s;

                .menu_item_link {
                    color: #CDCDCD;
                }

            }

            .menu_item:hover {
                border-bottom: 3px solid #F1CDB3;
                .menu_item_link {
                    color: #fafafa;
                }  
            }

            .menu_item.active {
                border-bottom: 3px solid #F1CDB3;
                .menu_item_link {
                    color: #fafafa;
                }  
            }
        }
    }

}


