.pets_inner_grid {
    display: grid;
    justify-content: center;
}

.pets {
    background-color: $background_dark;
    padding-top: $padding_top;
    padding-bottom: $padding_bottom;

    .heading {
        @include heading(300px)
    }
    @media (max-width: 767px) {
        .heading {
            font-size: 25px;
            padding-bottom: 40px;
        }
    }

    .pets_slider {
        display: grid;
        grid-template-columns: 52px 990px 52px;
        grid-template-rows: 435px;
        column-gap: 53px;
        padding-bottom: 58px;

        .button_arrow_left, .button_arrow_right {
            justify-self: center;
            align-self: center;
        }
        @media (max-width: 767px) {
            .button_arrow_left, .button_arrow_right {
                grid-row: 2;
            }
            .button_arrow_left {
                justify-self: end;
                padding-right: 7px;
            }
            .button_arrow_right {
                justify-self: start;
            }
        }

        .pets_slider_content {
            display: grid;
            grid-template-columns: repeat(3, 270px);
            grid-template-rows: 435px;
            column-gap: 90px;
            margin-left: 2px;

            .cart {
                display: flex;
                flex-direction: column;
                align-items: center;
                background: #fafafa;
                border-radius: 9px;
                transition: .5s;

                .pet_img {
                    padding-bottom: 23px;
                }
                @media (max-width: 767px) {
                    .pet_img {
                        padding-bottom: 27px;
                    }
                }

                .pet_name {
                    font-family: "Georgia";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    color: #545454;
                    padding-bottom: 29px;
                }
                
                a {
                    pointer-events: none;
                }
            }
            .cart:hover {
                background: #ffffff;
                cursor: pointer;

                .button_secondary {
                    cursor: pointer;
                    background-color: #FDDCC4;
                }
            }
        }

        @media (max-width: 1279px) {  
            .pets_slider_content {
                grid-template-columns: repeat(2, 270px);
                column-gap: 40px;
                justify-content: center;
                margin-left: 0;
                .last_cart {
                    display: none;
                }
            }
        }

        
        @media (max-width: 767px) {  
            .pets_slider_content {
                grid-template-columns: 270px;
                justify-content: center;
                margin-left: 0;
                grid-row: 1;
                grid-column-start: 1;
                grid-column-end: 3;
                .second_cart {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 1279px) {  
        .pets_slider {
            grid-template-columns: 52px 580px 52px;
            justify-content: center;
            column-gap: 12px;
            row-gap: 20px;
            padding-bottom: 58px;
        }
    }
    @media (max-width: 767px) {  
        .pets_slider {
            grid-template-columns: repeat(2, 135px);
            justify-content: center;
            column-gap: 68px;
            padding-bottom: 40px;
        }
    }

    .button_primary {
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .pets {
        padding-top: 42px;
        padding-left: 5px;
        padding-bottom: 42px;
    }
}