.start_inner_grid {
    display: grid;
    position: absolute;
    top: 180px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 728px;

    .start_content {
        width: 460px;
        padding-top: 163px;

        .start_heading {
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: 44px;
            line-height: 130%;
            color: #FFFFFF;
            width: 310px;
            padding-bottom: 42px;
        }

        .start_description {
            width: 460px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            color: #CDCDCD;
            padding-bottom: 42px;
        }
    }


}
